In [35]:
# Kütüphane ve veri setinin import işlemleri:

import pandas as pd
import math
import scipy.stats as st
import datetime as dt
from sklearn.preprocessing import MinMaxScaler

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 500)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [36]:
df_ = pd.read_csv("amazon_review.csv")

In [37]:
df = df_.copy()

In [38]:
# Veri önizleme:
def check_df(dataframe, head=5):
    print("##################### Shape #####################")
    print(dataframe.shape)
    print("##################### Types #####################")
    print(dataframe.dtypes)
    print("##################### Head #####################")
    print(dataframe.head(5))
    print("##################### NA #####################")
    print(dataframe.isnull().sum())
    print("##################### Describle #####################")
    print(dataframe.describe().T)
    print("##################### Nunique #####################")
    print(dataframe.nunique())

In [39]:
check_df(df)

##################### Shape #####################
(4915, 12)
##################### Types #####################
reviewerID         object
asin               object
reviewerName       object
helpful            object
reviewText         object
overall           float64
summary            object
unixReviewTime      int64
reviewTime         object
day_diff            int64
helpful_yes         int64
total_vote          int64
dtype: object
##################### Head #####################
       reviewerID        asin  reviewerName helpful                                         reviewText  overall                                 summary  unixReviewTime  reviewTime  day_diff  helpful_yes  total_vote
0  A3SBTW3WS4IQSN  B007WTAJTO           NaN  [0, 0]                                         No issues.  4.00000                              Four Stars      1406073600  2014-07-23       138            0           0
1  A18K1ODH1I2MVB  B007WTAJTO          0mie  [0, 0]  Purchased this for my device, it worked as adv...  5.00000                           MOAR SPACE!!!      1382659200  2013-10-25       409            0           0
2  A2FII3I2MBMUIA  B007WTAJTO           1K3  [0, 0]  it works as expected. I should have sprung for...  4.00000               nothing to really say....      1356220800  2012-12-23       715            0           0
3   A3H99DFEG68SR  B007WTAJTO           1m2  [0, 0]  This think has worked out great.Had a diff. br...  5.00000  Great buy at this price!!!  *** UPDATE      1384992000  2013-11-21       382            0           0
4  A375ZM4U047O79  B007WTAJTO  2&amp;1/2Men  [0, 0]  Bought it with Retail Packaging, arrived legit...  5.00000                        best deal around      1373673600  2013-07-13       513            0           0
##################### NA #####################
reviewerID        0
asin              0
reviewerName      1
helpful           0
reviewText        1
overall           0
summary           0
unixReviewTime    0
reviewTime        0
day_diff          0
helpful_yes       0
total_vote        0
dtype: int64
##################### Describle #####################
                    count             mean            std              min              25%              50%              75%              max
overall        4915.00000          4.58759        0.99685          1.00000          5.00000          5.00000          5.00000          5.00000
unixReviewTime 4915.00000 1379465001.66836 15818574.32275 1339200000.00000 1365897600.00000 1381276800.00000 1392163200.00000 1406073600.00000
day_diff       4915.00000        437.36704      209.43987          1.00000        281.00000        431.00000        601.00000       1064.00000
helpful_yes    4915.00000          1.31109       41.61916          0.00000          0.00000          0.00000          0.00000       1952.00000
total_vote     4915.00000          1.52146       44.12309          0.00000          0.00000          0.00000          0.00000       2020.00000
##################### Nunique #####################
reviewerID        4915
asin                 1
reviewerName      4594
helpful             42
reviewText        4912
overall              5
summary           3885
unixReviewTime     690
reviewTime         690
day_diff           690
helpful_yes         23
total_vote          26
dtype: int64

In [40]:
# Ürün ortalaması :
df["overall"].mean()

4.587589013224822

In [41]:
# Tarihe göre ağırlıklı puan ortalamasını hesaplayınız.
# reviewTime değişkenini tarih değişkeni olarak tanıtınız.

In [42]:
df["reviewTime"] = pd.to_datetime(df["reviewTime"])

In [43]:
# ReviewTime'ın max değerini current_date olarak kabul ediniz.
current_data = df["reviewTime"].max()

In [44]:
# Her bir puan-yorum tarihi ile current_date'in farkını gün cinsinden ifade ederek yeni değişken oluşturunuz.
df["days"] = (current_data - df["reviewTime"]).dt.days

In [45]:
# gün cinsinden ifade edilen değişkeni quantile fonksiyonu ile 4'e bölüp  çeyrekliklerden gelen değerlere göre ağırlıklandırma yapınız.
df["days"].quantile([.25, .50, .75])

0.25000   280.00000
0.50000   430.00000
0.75000   600.00000
Name: days, dtype: float64

In [46]:
def time_based_weighted_average(dataframe, w1=28, w2=26, w3=24, w4=22):
    return df.loc[df["days"] <= 280, "overall"].mean()* w1/100 + \
            df.loc[(df["days"] >280) & (df["days"] < 430), "overall"].mean() * w2 /100 + \
            df.loc[(df["days"] > 430) & (df["days"] < 600), "overall"].mean() * w3 / 100 + \
            df.loc[df["days"] > 600, "overall"].mean() * w4 /100

In [47]:
time_based_weighted_average(df)

4.5958479962229255

In [48]:
# Ağırlıklandırılmış puanlamada her bir zaman diliminin ortalamasını karşılaştırınız.

In [49]:
df.loc[df["days"] <= 280, "overall"].mean()

4.6957928802588995

In [50]:
df.loc[(df["days"] >280) & (df["days"] < 430), "overall"].mean()

4.637335526315789

In [51]:
df.loc[(df["days"] > 430) & (df["days"] < 600), "overall"].mean()

4.571428571428571

In [52]:
df.loc[df["days"] > 600, "overall"].mean()

4.4462540716612375

In [53]:
# Zaman dilimleri arasındaki sıralama büyükten küçüğe 0.25, 0.5, 0.75  şeklindedir.

In [54]:
# Her bir puan aralığında kaç kişi vardır.

In [55]:
df.groupby("asin").agg({"overall": "value_counts"})

                    overall
asin       overall
B007WTAJTO 5.00000     3922
           4.00000      527
           1.00000      244
           3.00000      142
           2.00000       80

In [56]:
# The Bayesian ortalaması ile ürünlerin ortalama skorunu hesaplayınız.

In [57]:
def bayesian_average_rating(n, confidence=0.95):
    if sum(n) == 0:
        return 0
    K = len(n)
    z = st.norm.ppf(1 - (1 - confidence) / 2)
    N = sum(n)
    first_part = 0.0
    second_part = 0.0
    for k, n_k in enumerate(n):
        first_part += (k + 1) * (n[k] + 1) / (N + K)
        second_part += (k + 1) * (k + 1) * (n[k] + 1) / (N + K)
    score = first_part - z * math.sqrt((second_part - first_part * first_part) / (N + K + 1))
    return score

In [58]:
bayesian_average_rating([244, 80, 142, 527, 3922])

4.558076756393475

In [59]:
# helpful_no değişkenini üretiniz.
df["helpful_no"] = df["total_vote"] - df["helpful_yes"]

In [60]:
df.head(5)

       reviewerID        asin  reviewerName helpful                                         reviewText  overall                                 summary  unixReviewTime reviewTime  day_diff  helpful_yes  total_vote  days  helpful_no
0  A3SBTW3WS4IQSN  B007WTAJTO           NaN  [0, 0]                                         No issues.  4.00000                              Four Stars      1406073600 2014-07-23       138            0           0   137           0
1  A18K1ODH1I2MVB  B007WTAJTO          0mie  [0, 0]  Purchased this for my device, it worked as adv...  5.00000                           MOAR SPACE!!!      1382659200 2013-10-25       409            0           0   408           0
2  A2FII3I2MBMUIA  B007WTAJTO           1K3  [0, 0]  it works as expected. I should have sprung for...  4.00000               nothing to really say....      1356220800 2012-12-23       715            0           0   714           0
3   A3H99DFEG68SR  B007WTAJTO           1m2  [0, 0]  This think has worked out great.Had a diff. br...  5.00000  Great buy at this price!!!  *** UPDATE      1384992000 2013-11-21       382            0           0   381           0
4  A375ZM4U047O79  B007WTAJTO  2&amp;1/2Men  [0, 0]  Bought it with Retail Packaging, arrived legit...  5.00000                        best deal around      1373673600 2013-07-13       513            0           0   512           0

In [61]:
# score_pos_neg_diff'a göre skorlar oluşturunuz. Ardından; df içerisinde score_pos_neg_diff ismiyle kaydediniz.
def score_up_down_diff(up, down):
    return up - down
df["score_pos_neg_diff"] = df.apply(lambda x: score_up_down_diff(x["helpful_yes"], x["helpful_no"]), axis=1)
df.sort_values("score_pos_neg_diff", ascending=False).head(5)

          reviewerID        asin                reviewerName       helpful                                         reviewText  overall                                            summary  unixReviewTime reviewTime  day_diff  helpful_yes  total_vote  days  helpful_no  score_pos_neg_diff
2031  A12B7ZMXFI6IXY  B007WTAJTO        Hyoun Kim "Faluzure"  [1952, 2020]  [[ UPDATE - 6/19/2014 ]]So my lovely wife boug...  5.00000  UPDATED - Great w/ Galaxy S4 & Galaxy Tab 4 10...      1367366400 2013-01-05       702         1952        2020   701          68                1884
4212   AVBMZZAFEKO58  B007WTAJTO                 SkincareCEO  [1568, 1694]  NOTE:  please read the last update (scroll to ...  1.00000  1 Star reviews - Micro SDXC card unmounts itse...      1375660800 2013-05-08       579         1568        1694   578         126                1442
3449   AOEAD7DPLZE53  B007WTAJTO           NLee the Engineer  [1428, 1505]  I have tested dozens of SDHC and micro-SDHC ca...  5.00000  Top of the class among all (budget-priced) mic...      1348617600 2012-09-26       803         1428        1505   802          77                1351
317   A1ZQAQFYSXL5MQ  B007WTAJTO     Amazon Customer "Kelly"    [422, 495]  If your card gets hot enough to be painful, it...  1.00000                                Warning, read this!      1346544000 2012-02-09      1033          422         495  1032          73                 349
3981  A1K91XXQ6ZEBQR  B007WTAJTO  R. Sutton, Jr. "RWSynergy"    [112, 139]  The last few days I have been diligently shopp...  5.00000  Resolving confusion between "Mobile Ultra" and...      1350864000 2012-10-22       777          112         139   776          27                  85

In [62]:
# score_average_rating'a göre skorlar oluşturunuz. Ardından; df içerisinde score_average_rating ismiyle kaydediniz.
def score_average_rating(up, down):
    if up + down ==0:
        return 0
    return up / (up + down)
df["score_average_rating"] = df.apply(lambda x: score_average_rating(x["helpful_yes"], x["helpful_no"]), axis=1)
df.sort_values("score_average_rating", ascending=False).head(5)

          reviewerID        asin        reviewerName helpful                                         reviewText  overall                     summary  unixReviewTime reviewTime  day_diff  helpful_yes  total_vote  days  helpful_no  score_pos_neg_diff  score_average_rating
4277  A35KXSU6AD1481  B007WTAJTO               S. Q.  [1, 1]  I have a galaxy note II and after rooting I no...  5.00000                   Perfect!!      1355875200 2012-12-19       719            1           1   718           0                   1               1.00000
2881  A3VSG5X7GPNNW6  B007WTAJTO          Lou Thomas  [1, 1]  The Nexus One is listed as supporting a maximu...  5.00000  Nexus One Loves This Card!      1349049600 2012-01-10      1063            1           1  1062           0                   1               1.00000
1073  A2ZXEKQ2OBZLEE  B007WTAJTO          C. Sanchez  [1, 1]  I used it with my Samsung S4 and it works grea...  5.00000     Tons of space for phone      1376352000 2013-08-13       482            1           1   481           0                   1               1.00000
445    AIWBDRNBODLEA  B007WTAJTO  Apache "Elizabeth"  [1, 1]  This is exactly what I was looking for to upgr...  4.00000         Amazon Great Prices      1387324800 2013-12-18       355            1           1   354           0                   1               1.00000
3923   A2PH4RGYVR34L  B007WTAJTO     Rock Your Roots  [1, 1]  It's a SanDisk, so what more is there to say? ...  5.00000           What more to say?      1388361600 2013-12-30       343            1           1   342           0                   1               1.00000

In [63]:
# wilson_lower_bound'a göre skorlar oluşturunuz. Ardından; df içerisinde wilson_lower_bound ismiyle kaydediniz.
def wilson_lower_bound(up, down, confidence=0.95):
    """
    Wilson Lower Bound Score hesapla

    - Bernoulli parametresi p için hesaplanacak güven aralığının alt sınırı WLB skoru olarak kabul edilir.
    - Hesaplanacak skor ürün sıralaması için kullanılır.
    - Not:
    Eğer skorlar 1-5 arasıdaysa 1-3 negatif, 4-5 pozitif olarak işaretlenir ve bernoulli'ye uygun hale getirilebilir.
    Bu beraberinde bazı problemleri de getirir. Bu sebeple bayesian average rating yapmak gerekir.

    Parameters
    ----------
    up: int
        up count
    down: int
        down count
    confidence: float
        confidence

    Returns
    -------
    wilson score: float

    """
    n = up + down
    if n == 0:
        return 0
    z = st.norm.ppf(1 - (1 - confidence) / 2)
    phat = 1.0 * up / n
    return (phat + z * z / (2 * n) - z * math.sqrt((phat * (1 - phat) + z * z / (4 * n)) / n)) / (1 + z * z / n)
df["wilson_lower_bound"] = df.apply(lambda x: wilson_lower_bound(x["helpful_yes"], x["helpful_no"]), axis=1)
df.sort_values("wilson_lower_bound", ascending=False).head(5)

          reviewerID        asin             reviewerName       helpful                                         reviewText  overall                                            summary  unixReviewTime reviewTime  day_diff  helpful_yes  total_vote  days  helpful_no  score_pos_neg_diff  score_average_rating  wilson_lower_bound
2031  A12B7ZMXFI6IXY  B007WTAJTO     Hyoun Kim "Faluzure"  [1952, 2020]  [[ UPDATE - 6/19/2014 ]]So my lovely wife boug...  5.00000  UPDATED - Great w/ Galaxy S4 & Galaxy Tab 4 10...      1367366400 2013-01-05       702         1952        2020   701          68                1884               0.96634             0.95754
3449   AOEAD7DPLZE53  B007WTAJTO        NLee the Engineer  [1428, 1505]  I have tested dozens of SDHC and micro-SDHC ca...  5.00000  Top of the class among all (budget-priced) mic...      1348617600 2012-09-26       803         1428        1505   802          77                1351               0.94884             0.93652
4212   AVBMZZAFEKO58  B007WTAJTO              SkincareCEO  [1568, 1694]  NOTE:  please read the last update (scroll to ...  1.00000  1 Star reviews - Micro SDXC card unmounts itse...      1375660800 2013-05-08       579         1568        1694   578         126                1442               0.92562             0.91214
317   A1ZQAQFYSXL5MQ  B007WTAJTO  Amazon Customer "Kelly"    [422, 495]  If your card gets hot enough to be painful, it...  1.00000                                Warning, read this!      1346544000 2012-02-09      1033          422         495  1032          73                 349               0.85253             0.81858
4672  A2DKQQIZ793AV5  B007WTAJTO                  Twister      [45, 49]  Sandisk announcement of the first 128GB micro ...  5.00000  Super high capacity!!!  Excellent price (on Am...      1394150400 2014-07-03       158           45          49   157           4                  41               0.91837             0.80811